In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('processed_local_large_well_3_1c_dfn_corrected_locations.csv', float_precision='round_trip')

In [3]:
data.describe()

,Id,X,Y,Z,dX,dY,dZ,Porosity,kii,kjj,kkk,block
count,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3920000.0,3920000.0,3920000.0,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06
mean,1.960000e+06,1.800000e+03,1.285000e+03,-4.750000e+02,10.0,10.0,10.0,7.011580e-03,3.596258e-16,3.590037e-16,3.634740e-16,1.981456e+00
std,1.131607e+06,4.041349e+02,4.041349e+02,5.773431e+02,0.0,0.0,0.0,1.558228e-02,2.288214e-15,2.288153e-15,2.287678e-15,1.349083e-01
min,0.000000e+00,1.105000e+03,5.900000e+02,-1.470000e+03,10.0,10.0,10.0,3.316340e-04,1.023090e-18,1.159695e-18,1.248545e-18,1.000000e+00
25%,9.799998e+05,1.452500e+03,9.375000e+02,-9.725000e+02,10.0,10.0,10.0,4.000989e-03,3.064653e-17,2.995086e-17,3.361155e-17,2.000000e+00
50%,1.960000e+06,1.800000e+03,1.285000e+03,-4.750000e+02,10.0,10.0,10.0,4.839924e-03,4.127464e-17,4.073920e-17,4.511994e-17,2.000000e+00
75%,2.939999e+06,2.147500e+03,1.632500e+03,2.250000e+01,10.0,10.0,10.0,5.758125e-03,5.422001e-17,5.401583e-17,5.909164e-17,2.000000e+00
max,3.919999e+06,2.495000e+03,1.980000e+03,5.200000e+02,10.0,10.0,10.0,1.200000e-01,1.700000e-14,1.700000e-14,1.700000e-14,2.000000e+00

In [4]:
min (data.X), max (data.X), data['X'].median()

(1105.0, 2495.0, 1800.0)

In [5]:
min (data.Y), max (data.Y), data['Y'].median()

(590.0, 1980.0, 1285.0)

In [6]:
min (data.Z), max (data.Z), data['Z'].median()

(-1470, 520, -475.0)

need to manually calculate the translation distance based on injection location and bounds of the new/refine mesh versus the full domain mesh

In [7]:
data2 = data.query('1690 <= X and 865 <= Y <= 1845 and Z <= -545')

In [8]:
data2.describe()

,Id,X,Y,Z,dX,dY,dZ,Porosity,kii,kjj,kkk,block
count,7.382340e+05,738234.000000,738234.000000,738234.000000,738234.0,738234.0,738234.0,738234.000000,7.382340e+05,7.382340e+05,7.382340e+05,738234.0
mean,2.784653e+06,2095.000000,1355.000000,-1010.000000,10.0,10.0,10.0,0.004954,5.550401e-17,5.402866e-17,5.945650e-17,2.0
std,6.546902e+05,233.809197,282.887095,268.452536,0.0,0.0,0.0,0.001261,1.408353e-16,1.274235e-16,1.394360e-16,0.0
min,1.654907e+06,1695.000000,870.000000,-1470.000000,10.0,10.0,10.0,0.000665,2.775858e-18,2.542627e-18,3.169784e-18,2.0
25%,2.219753e+06,1895.000000,1110.000000,-1240.000000,10.0,10.0,10.0,0.004069,3.144777e-17,3.093126e-17,3.438972e-17,2.0
50%,2.784653e+06,2095.000000,1355.000000,-1010.000000,10.0,10.0,10.0,0.004886,4.197113e-17,4.170371e-17,4.580640e-17,2.0
75%,3.349553e+06,2295.000000,1600.000000,-780.000000,10.0,10.0,10.0,0.005764,5.455433e-17,5.476200e-17,5.955900e-17,2.0
max,3.914399e+06,2495.000000,1840.000000,-550.000000,10.0,10.0,10.0,0.011929,6.953506e-15,5.369247e-15,6.139129e-15,2.0

now verify translation was correct, and also chck the bounds to make sure still within the full domain

In [9]:
min (data2.X), max (data2.X), data2['X'].median()

(1695.0, 2495.0, 2095.0)

In [10]:
min (data2.Y), max (data2.Y), data2['Z'].median()

(870.0, 1840.0, -1010.0)

In [11]:
min (data2.Z), max (data2.Z), data2['Z'].median()

(-1470, -550, -1010.0)

In [12]:
a = data2.sort_values(["Z","Y","X"], ascending = [True, True, True])

now can write the data to a CSV file.

In [13]:
a.to_csv("2019_08_29_3_1a2_cell.csv", encoding='utf-8', index=False)

In [14]:
data2.describe().to_csv("2019_08_29_3_1a2_cell_summary.csv")