In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('local_After_Stim_2hr_50m_Upscaled_3_1A2_10m_Sept_3_2019.csv', float_precision='round_trip')

In [3]:
data.describe()

,X,Y,Z,Porosity,Compressibility,kii,kjj,kkk
count,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06
mean,1.763700e+03,1.228970e+03,-4.750000e+02,4.787198e-03,3.289419e-08,4.438337e-17,4.376131e-17,4.823200e-17
std,4.041349e+02,4.041349e+02,5.773431e+02,1.420842e-03,1.004701e-08,6.347587e-17,5.793786e-17,6.324474e-17
min,1.068700e+03,5.339700e+02,-1.470000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.416200e+03,8.814700e+02,-9.725000e+02,3.930036e-03,2.676525e-08,2.981192e-17,2.911270e-17,3.270114e-17
50%,1.763700e+03,1.228970e+03,-4.750000e+02,4.779813e-03,3.281697e-08,4.046770e-17,3.991846e-17,4.424984e-17
75%,2.111200e+03,1.576470e+03,2.250000e+01,5.676811e-03,3.920963e-08,5.302238e-17,5.278309e-17,5.780128e-17
max,2.458700e+03,1.923970e+03,5.200000e+02,1.267748e-02,8.955147e-08,6.953506e-15,5.369247e-15,6.139129e-15

In [4]:
min (data.X), max (data.X), data['X'].median()

(1068.7, 2458.7, 1763.7)

In [5]:
min (data.Y), max (data.Y), data['Y'].median()

(533.97, 1923.97, 1228.97)

In [6]:
min (data.Z), max (data.Z), data['Z'].median()

(-1470, 520, -475.0)

now make a copy for each simulation case, and translate the mesh

start with the 3-1a2 trajectory case

In [15]:
large_well_3_1a2 = data.copy(deep=True)

need to manually calculate the translation distance based on injection location and bounds of the new/refine mesh versus the full domain mesh

In [16]:
large_well_3_1a2.X = large_well_3_1a2.X+36.3

In [17]:
large_well_3_1a2.Y = large_well_3_1a2.Y+56.03

In [11]:
large_well_3_1a2.Z = large_well_3_1a2.Z-620

now verify translation was correct, and also chck the bounds to make sure still within the full domain

In [18]:
min (large_well_3_1a2.X), max (large_well_3_1a2.X), large_well_3_1a2['X'].median()

(1105.0, 2495.0, 1800.0)

In [19]:
min (large_well_3_1a2.Y), max (large_well_3_1a2.Y), large_well_3_1a2['Y'].median()

(590.0, 1980.0, 1285.0)

In [20]:
min (large_well_3_1a2.Z), max (large_well_3_1a2.Z), large_well_3_1a2['Z'].median()

(-1470, 520, -475.0)

need to add column (1) for Id, columns 5, 6, and 7 for dX, dY, and dZ

first add the "Id"

In [22]:
large_well_3_1a2.insert(loc=0, column='Id', value=large_well_3_1a2.index)

now add the dX, dY, and dZ

In [23]:
large_well_3_1a2.insert(loc=4, column='dX', value=10)

In [24]:
large_well_3_1a2.insert(loc=5, column='dY', value=10)

In [25]:
large_well_3_1a2.insert(loc=6, column='dZ', value=10)

now check the file

In [26]:
large_well_3_1a2.head()

,Id,X,Y,Z,dX,dY,dZ,Porosity,Compressibility,kii,kjj,kkk
0,0,1105.0,1980.0,520,10,10,10,0.001836,1.176111e-08,8.296096e-18,1.454657e-17,1.643608e-17
1,1,1105.0,1980.0,510,10,10,10,0.001661,1.122519e-08,5.336351e-18,1.292858e-17,1.789974e-17
2,2,1105.0,1980.0,500,10,10,10,0.001703,1.089720e-08,4.304728e-18,1.992727e-17,2.258996e-17
3,3,1105.0,1980.0,490,10,10,10,0.001489,1.010419e-08,9.033887e-18,1.493932e-17,1.425128e-17
4,4,1105.0,1980.0,480,10,10,10,0.002365,1.572026e-08,1.105784e-17,1.891407e-17,1.917711e-17

now sort so values are in correct order for em2ex

In [27]:
a = large_well_3_1a2.sort_values(["Z","Y","X"], ascending = [True, True, True])

In [28]:
a.head()

,Id,X,Y,Z,dX,dY,dZ,Porosity,Compressibility,kii,kjj,kkk
27999,27999,1105.0,590.0,-1470,10,10,10,0.001921,1.095691e-08,8.004419e-18,1.272226e-17,1.039621e-17
55999,55999,1115.0,590.0,-1470,10,10,10,0.001408,9.427024e-09,1.363619e-17,1.328845e-17,8.272244e-18
83999,83999,1125.0,590.0,-1470,10,10,10,0.001895,1.090580e-08,9.412358e-18,1.801207e-17,6.617931e-18
111999,111999,1135.0,590.0,-1470,10,10,10,0.002060,1.269264e-08,1.722060e-17,1.749362e-17,2.737495e-17
139999,139999,1145.0,590.0,-1470,10,10,10,0.002268,1.545065e-08,2.306947e-17,2.791417e-17,6.828935e-17

now we have the perm and proposity all set up, but if the mesh has both granite and sediment, we need to all a column for the block number, and re-assign the perm and porosity for the sediments

first export the block model from Leapfrog, then run global2local.py to get it into local coords, then read it in here

In [29]:
GMdata=pd.read_csv('local_large_3-1c_Block Model_cell.csv', float_precision='round_trip')

In [30]:
b = GMdata.sort_values(["Z","Y","X"], ascending = [True, True, True])

In [31]:
b.head()

,Id,X,Y,Z,dX,dY,dZ,GM,pressure_MPa,sigma_h_max_MPa,sigma_h_min_MPa,Sigma_V_MPa,temperature_C
0,0,1067.91,531.78,-1470,10,10,10,Granitiod,27.538509,54.871706,46.978296,79.795385,245.434904
1,1,1077.91,531.78,-1470,10,10,10,Granitiod,27.537451,54.876142,46.973138,79.806631,245.681018
2,2,1087.91,531.78,-1470,10,10,10,Granitiod,27.536406,54.880795,46.968362,79.818372,245.928550
3,3,1097.91,531.78,-1470,10,10,10,Granitiod,27.535365,54.885422,46.963590,79.830094,246.177700
4,4,1107.91,531.78,-1470,10,10,10,Granitiod,27.534316,54.889690,46.958394,79.841148,246.428922

sediments = block 1, grnit = block 2

In [32]:
b['block'] = 0

In [33]:
b.loc[b.GM == 'Granitiod', 'block'] = 2

In [34]:
b.GM.unique()

array(['Granitiod', 'Valley Fill'], dtype=object)

In [35]:
b.loc[b.GM == 'Valley Fill', 'block'] = 1

In [36]:
b.block.unique()

array([2, 1])

In [37]:
b.head()

,Id,X,Y,Z,dX,dY,dZ,GM,pressure_MPa,sigma_h_max_MPa,sigma_h_min_MPa,Sigma_V_MPa,temperature_C,block
0,0,1067.91,531.78,-1470,10,10,10,Granitiod,27.538509,54.871706,46.978296,79.795385,245.434904,2
1,1,1077.91,531.78,-1470,10,10,10,Granitiod,27.537451,54.876142,46.973138,79.806631,245.681018,2
2,2,1087.91,531.78,-1470,10,10,10,Granitiod,27.536406,54.880795,46.968362,79.818372,245.928550,2
3,3,1097.91,531.78,-1470,10,10,10,Granitiod,27.535365,54.885422,46.963590,79.830094,246.177700,2
4,4,1107.91,531.78,-1470,10,10,10,Granitiod,27.534316,54.889690,46.958394,79.841148,246.428922,2

now we have a sorted column that has block numbers, need to add it to the dataframe with the permeability and porosity

In [38]:
b.index = a.index

In [39]:
a['block'] = 0

In [40]:
a['block'] = b['block'].values

In [41]:
a.head()

,Id,X,Y,Z,dX,dY,dZ,Porosity,Compressibility,kii,kjj,kkk,block
27999,27999,1105.0,590.0,-1470,10,10,10,0.001921,1.095691e-08,8.004419e-18,1.272226e-17,1.039621e-17,2
55999,55999,1115.0,590.0,-1470,10,10,10,0.001408,9.427024e-09,1.363619e-17,1.328845e-17,8.272244e-18,2
83999,83999,1125.0,590.0,-1470,10,10,10,0.001895,1.090580e-08,9.412358e-18,1.801207e-17,6.617931e-18,2
111999,111999,1135.0,590.0,-1470,10,10,10,0.002060,1.269264e-08,1.722060e-17,1.749362e-17,2.737495e-17,2
139999,139999,1145.0,590.0,-1470,10,10,10,0.002268,1.545065e-08,2.306947e-17,2.791417e-17,6.828935e-17,2

In [42]:
a.loc[a.block == 1, 'kii'] = 1.7e-14

In [43]:
a.loc[a.block == 1, 'kjj'] = 1.7e-14

In [44]:
a.loc[a.block == 1, 'kkk'] = 1.7e-14

In [45]:
a.loc[a.block == 1, 'Porosity'] = 0.12

In [46]:
del a['Compressibility']

In [47]:
a.describe()

,Id,X,Y,Z,dX,dY,dZ,Porosity,kii,kjj,kkk,block
count,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3920000.0,3920000.0,3920000.0,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06
mean,1.960000e+06,1.800000e+03,1.285000e+03,-4.750000e+02,10.0,10.0,10.0,7.011580e-03,3.596258e-16,3.590037e-16,3.634740e-16,1.981456e+00
std,1.131607e+06,4.041349e+02,4.041349e+02,5.773431e+02,0.0,0.0,0.0,1.558228e-02,2.288214e-15,2.288153e-15,2.287678e-15,1.349083e-01
min,0.000000e+00,1.105000e+03,5.900000e+02,-1.470000e+03,10.0,10.0,10.0,3.316340e-04,1.023090e-18,1.159695e-18,1.248545e-18,1.000000e+00
25%,9.799998e+05,1.452500e+03,9.375000e+02,-9.725000e+02,10.0,10.0,10.0,4.000989e-03,3.064653e-17,2.995086e-17,3.361155e-17,2.000000e+00
50%,1.960000e+06,1.800000e+03,1.285000e+03,-4.750000e+02,10.0,10.0,10.0,4.839924e-03,4.127464e-17,4.073920e-17,4.511994e-17,2.000000e+00
75%,2.939999e+06,2.147500e+03,1.632500e+03,2.250000e+01,10.0,10.0,10.0,5.758125e-03,5.422001e-17,5.401583e-17,5.909164e-17,2.000000e+00
max,3.919999e+06,2.495000e+03,1.980000e+03,5.200000e+02,10.0,10.0,10.0,1.200000e-01,1.700000e-14,1.700000e-14,1.700000e-14,2.000000e+00

now can write the data to a CSV file.

In [48]:
a.to_csv("processed_local_large_well_3_1c_dfn_corrected_locations.csv", encoding='utf-8', index=False)

In [49]:
a.describe().to_csv("processed_local_large_well_3_1c_dfn_corrected_locations_Summary.csv")

now need to read into leapfrog and verify all the mpaaings