In [76]:
import pandas as pd

In [77]:
data=pd.read_csv('processed_local_large_well_3_1b_dfn_corrected_locations.csv', float_precision='round_trip')

In [78]:
data.describe()

,Id,X,Y,Z,dX,dY,dZ,Porosity,kii,kjj,kkk,block
count,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3920000.0,3920000.0,3920000.0,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06
mean,1.960000e+06,7.500000e+02,1.120000e+03,-4.750000e+02,10.0,10.0,10.0,2.577398e-02,3.122488e-15,3.122118e-15,3.126365e-15,1.818545e+00
std,1.131607e+06,4.041349e+02,4.041349e+02,5.773431e+02,0.0,0.0,0.0,4.437936e-02,6.534291e-15,6.534505e-15,6.532680e-15,3.853948e-01
min,0.000000e+00,5.500000e+01,4.250000e+02,-1.470000e+03,10.0,10.0,10.0,2.902800e-04,1.050371e-18,9.349565e-19,1.428325e-18,1.000000e+00
25%,9.799998e+05,4.025000e+02,7.725000e+02,-9.725000e+02,10.0,10.0,10.0,4.189503e-03,3.296985e-17,3.222510e-17,3.611656e-17,2.000000e+00
50%,1.960000e+06,7.500000e+02,1.120000e+03,-4.750000e+02,10.0,10.0,10.0,5.182442e-03,4.602574e-17,4.555071e-17,5.025345e-17,2.000000e+00
75%,2.939999e+06,1.097500e+03,1.467500e+03,2.250000e+01,10.0,10.0,10.0,6.702098e-03,6.885364e-17,6.906129e-17,7.486194e-17,2.000000e+00
max,3.919999e+06,1.445000e+03,1.815000e+03,5.200000e+02,10.0,10.0,10.0,1.200000e-01,1.700000e-14,1.700000e-14,1.700000e-14,2.000000e+00

In [79]:
min (data.X), max (data.X), data['X'].median()

(55.0, 1445.0, 750.0)

In [80]:
min (data.Y), max (data.Y), data['Y'].median()

(425.0, 1815.0, 1120.0)

In [81]:
min (data.Z), max (data.Z), data['Z'].median()

(-1470, 520, -475.0)

need to manually calculate the translation distance based on injection location and bounds of the new/refine mesh versus the full domain mesh

In [87]:
data2 = data.query('350 <= X <= 1180 and 660<= Y <= 1590 and -1295 <= Z <= -35')

In [88]:
data2.describe()

,Id,X,Y,Z,dX,dY,dZ,Porosity,kii,kjj,kkk,block
count,9.725940e+05,972594.000000,972594.000000,972594.000000,972594.0,972594.0,972594.0,972594.000000,9.725940e+05,9.725940e+05,9.725940e+05,972594.000000
mean,2.001918e+06,765.000000,1125.000000,-665.000000,10.0,10.0,10.0,0.005102,5.991010e-17,5.943934e-17,6.680995e-17,1.999725
std,6.708542e+05,239.583094,268.452493,363.719401,0.0,0.0,0.0,0.002275,3.107803e-16,3.141706e-16,3.281308e-16,0.016566
min,8.446560e+05,355.000000,665.000000,-1290.000000,10.0,10.0,10.0,0.000945,4.315121e-18,3.501236e-18,4.016556e-18,1.000000
25%,1.418550e+06,555.000000,895.000000,-980.000000,10.0,10.0,10.0,0.004190,3.283501e-17,3.214696e-17,3.608875e-17,2.000000
50%,2.001918e+06,765.000000,1125.000000,-665.000000,10.0,10.0,10.0,0.004997,4.352616e-17,4.299997e-17,4.770111e-17,2.000000
75%,2.585287e+06,975.000000,1355.000000,-350.000000,10.0,10.0,10.0,0.005869,5.637156e-17,5.609599e-17,6.156758e-17,2.000000
max,3.159181e+06,1175.000000,1585.000000,-40.000000,10.0,10.0,10.0,0.120000,1.700000e-14,1.700000e-14,1.700000e-14,2.000000

now verify translation was correct, and also chck the bounds to make sure still within the full domain

In [91]:
min (data2.X), max (data2.X), data2['X'].median()

(355.0, 1175.0, 765.0)

In [92]:
min (data2.Y), max (data2.Y), data2['Z'].median()

(665.0, 1585.0, -665.0)

In [93]:
min (data2.Z), max (data2.Z), data2['Z'].median()

(-1290, -40, -665.0)

In [96]:
a = data2.sort_values(["Z","Y","X"], ascending = [True, True, True])

now can write the data to a CSV file.

In [97]:
a.to_csv("2019_08_29_3_1b_cell.csv", encoding='utf-8', index=False)

In [95]:
data2.describe().to_csv("2019_08_29_3_1b_cell_summary.csv")