In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.interpolate

In [2]:
data=pd.read_csv('./data for figs/ahmad.csv')

In [3]:
data.describe()

,hours,kg_s,3-1b_pressure,3-1b_dP,3-1v_pressure(Mpa),s-1c_dP
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,1.000000,40.000000,28.040642,9.040642,28.083249,9.083249
std,0.613317,20.412415,3.029464,3.029464,3.055268,3.055268
min,0.000000,0.000000,19.000000,0.000000,19.000000,0.000000
25%,0.500000,50.000000,27.472573,8.472573,27.685673,8.685673
50%,1.000000,50.000000,29.220910,10.220910,29.090233,10.090233
75%,1.500000,50.000000,30.047094,11.047094,30.157377,11.157377
max,2.000000,50.000000,30.321303,11.321303,30.874150,11.874150

In [4]:
sns.set()

In [5]:
sns.set_style("whitegrid")

In [6]:
sns.set_context("paper")

Text(0, 0.5, 'Injection Rate\n(kg/s)')

In [15]:
ax1 = plt.subplot(311)
sns.lineplot('hours', 's-1c_dP', data = data)

plt.setp(ax1.get_xticklabels(), visible=False)

ax1.set_xlabel('')
ax1.set_ylabel('Pressure Change\n(MPa)')

Text(0, 0.5, 'Pressure Change\n(MPa)')

In [16]:
ax2 = plt.subplot(312)
sns.lineplot('hours', 'kg_s', data = data)

plt.setp(ax2.get_xticklabels(), visible=False)

ax2.set_xlabel('')
ax2.set_ylabel('Injection Rate\n(kg/s)')

Text(0, 0.5, 'Injection Rate\n(kg/s)')

In [17]:
ax3 = plt.subplot(313, sharex=ax1)
sns.lineplot('hours', '3-1v_pressure(Mpa)', data = data)


ax3.set_ylabel('Pressure\n(MPa)')
ax3.set_xlabel('Time (hours)')

Text(0.5, 0, 'Time (hours)')

In [24]:
plt.suptitle('58-32 Critical Zone Cycle 9', fontsize=16)

Text(0.5, 0.98, '58-32 Critical Zone Cycle 9')

(2, 10)