In [38]:
import pandas as pd

In [39]:
data=pd.read_csv('processed_local_large_well_3_1c_dfn_corrected_locations.csv', float_precision='round_trip')

In [40]:
data.describe()

,Id,X,Y,Z,dX,dY,dZ,Porosity,kii,kjj,kkk,block
count,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3920000.0,3920000.0,3920000.0,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06,3.920000e+06
mean,1.960000e+06,1.800000e+03,1.285000e+03,-4.750000e+02,10.0,10.0,10.0,7.011576e-03,3.595809e-16,3.589851e-16,3.639264e-16,1.981456e+00
std,1.131607e+06,4.041349e+02,4.041349e+02,5.773431e+02,0.0,0.0,0.0,1.558229e-02,2.288301e-15,2.288239e-15,2.288104e-15,1.349083e-01
min,0.000000e+00,1.105000e+03,5.900000e+02,-1.470000e+03,10.0,10.0,10.0,3.316340e-04,1.023090e-18,1.159695e-18,1.248545e-18,1.000000e+00
25%,9.799998e+05,1.452500e+03,9.375000e+02,-9.725000e+02,10.0,10.0,10.0,4.000981e-03,3.064824e-17,2.994944e-17,3.360730e-17,2.000000e+00
50%,1.960000e+06,1.800000e+03,1.285000e+03,-4.750000e+02,10.0,10.0,10.0,4.839916e-03,4.127572e-17,4.073644e-17,4.511092e-17,2.000000e+00
75%,2.939999e+06,2.147500e+03,1.632500e+03,2.250000e+01,10.0,10.0,10.0,5.758113e-03,5.421798e-17,5.400832e-17,5.907400e-17,2.000000e+00
max,3.919999e+06,2.495000e+03,1.980000e+03,5.200000e+02,10.0,10.0,10.0,1.200000e-01,1.700000e-14,1.700000e-14,1.700000e-14,2.000000e+00

In [41]:
min (data.X), max (data.X), data['X'].median()

(1105.0, 2495.0, 1800.0)

In [42]:
min (data.Y), max (data.Y), data['Y'].median()

(590.0, 1980.0, 1285.0)

In [43]:
min (data.Z), max (data.Z), data['Z'].median()

(-1470, 520, -475.0)

need to manually calculate the translation distance based on injection location and bounds of the new/refine mesh versus the full domain mesh

In [44]:
data2 = data.query('1440 <= X <= 2370 and 825 <= Y <= 1805 and -1185 <= Z <= -215')

In [45]:
data2.describe()

,Id,X,Y,Z,dX,dY,dZ,Porosity,kii,kjj,kkk,block
count,8.840580e+05,884058.000000,884058.000000,884058.000000,884058.0,884058.0,884058.0,884058.000000,8.840580e+05,8.840580e+05,8.840580e+05,884058.0
mean,2.253422e+06,1905.000000,1315.000000,-700.000000,10.0,10.0,10.0,0.005063,5.487724e-17,5.351871e-17,6.127178e-17,2.0
std,7.516883e+05,268.452506,282.887063,280.000158,0.0,0.0,0.0,0.001240,1.350510e-16,1.237347e-16,1.617044e-16,0.0
min,9.556740e+05,1445.000000,830.000000,-1180.000000,10.0,10.0,10.0,0.000868,4.164190e-18,3.663575e-18,4.465914e-18,2.0
25%,1.604522e+06,1675.000000,1070.000000,-940.000000,10.0,10.0,10.0,0.004187,3.278966e-17,3.206978e-17,3.597367e-17,2.0
50%,2.253422e+06,1905.000000,1315.000000,-700.000000,10.0,10.0,10.0,0.004988,4.340622e-17,4.292111e-17,4.747559e-17,2.0
75%,2.902322e+06,2135.000000,1560.000000,-460.000000,10.0,10.0,10.0,0.005857,5.611191e-17,5.599034e-17,6.125121e-17,2.0
max,3.551170e+06,2365.000000,1800.000000,-220.000000,10.0,10.0,10.0,0.011929,6.907504e-15,8.453655e-15,9.994956e-15,2.0

now verify translation was correct, and also chck the bounds to make sure still within the full domain

In [46]:
min (data2.X), max (data2.X), data2['X'].median()

(1445.0, 2365.0, 1905.0)

In [47]:
min (data2.Y), max (data2.Y), data2['Z'].median()

(830.0, 1800.0, -700.0)

In [48]:
min (data2.Z), max (data2.Z), data2['Z'].median()

(-1180, -220, -700.0)

In [49]:
a = data2.sort_values(["Z","Y","X"], ascending = [True, True, True])

now can write the data to a CSV file.

In [50]:
a.to_csv("2019_08_29_3_1c_cell.csv", encoding='utf-8', index=False)

In [37]:
data2.describe().to_csv("2019_08_29_3_1c_cell_summary.csv")